<?xml version='1.0' encoding='utf-8'?>
<!--
  Maekon Windows Installer (WiX v3)
  사용: cargo wix (cargo-wix 설치 필요)
-->
<?ifndef InstallerLanguage ?>
    <?define InstallerLanguage = "1033" ?>
<?endif ?>
<?ifndef InstallerCodepage ?>
    <?define InstallerCodepage = "1252" ?>
<?endif ?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='Maekon'
        UpgradeCode='E8F3D2A1-5B4C-4D6E-9F8A-1C2B3D4E5F6A'
        Manufacturer='Maekon Team'
        Language='$(var.InstallerLanguage)'
        Codepage='$(var.InstallerCodepage)'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='!(loc.PackageDescription)'
            Manufacturer='Maekon Team'
            InstallerVersion='450'
            Languages='$(var.InstallerLanguage)'
            Compressed='yes'
            InstallScope='perUser'
            SummaryCodepage='$(var.InstallerCodepage)'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='!(loc.DowngradeErrorMessage)'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='!(loc.DiskPrompt)'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='LocalAppDataFolder' Name='AppData'>
                <Directory Id='APPLICATIONFOLDER' Name='Maekon'>
                    <Component Id='binary0' Guid='3602020D-F6CA-4B75-9E7B-0B767E2753E2'>
                        <File
                            Id='exe0'
                            Name='maekon.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\maekon.exe'/>
                        <File
                            Id='sidecar0'
                            Name='maekon-sandbox-worker.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\maekon-sandbox-worker.exe'/>
                        <File
                            Id='vcruntime140'
                            Name='vcruntime140.dll'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\vcruntime140.dll'/>
                        <File
                            Id='vcruntime140_1'
                            Name='vcruntime140_1.dll'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\vcruntime140_1.dll'/>
                        <RemoveFolder Id='CleanUpApplicationFolder' On='uninstall'/>
                        <RegistryValue Root='HKCU'
                            Key='Software\Maekon'
                            Name='binary_installed'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='Maekon'>
                    <Component Id='ApplicationShortcut' Guid='*'>
                        <Shortcut Id='ApplicationStartMenuShortcut'
                            Name='Maekon'
                            Description='!(loc.ShortcutDescription)'
                            Target='[APPLICATIONFOLDER]maekon.exe'
                            WorkingDirectory='APPLICATIONFOLDER'/>
                        <RemoveFolder Id='CleanUpShortCut' On='uninstall'/>
                        <RegistryValue Root='HKCU'
                            Key='Software\Maekon'
                            Name='installed'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='MainProgram'
            Title='Maekon'
            Description='!(loc.MainProgramDescription)'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='binary0'/>

            <Feature
                Id='ShortcutsFeature'
                Title='!(loc.ShortcutsFeatureTitle)'
                Level='1'>
                <ComponentRef Id='ApplicationShortcut'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Property Id='ARPHELPLINK' Value='https://github.com/pseudotop/maekon-client'/>
        <Property Id='ARPPRODUCTICON' Value='ProductIcon'/>
        <Icon Id='ProductIcon' SourceFile='icons\icon.ico'/>

        <!--
          WiXUI_FeatureTree의 공식 대화상자 흐름을 유지하되 Windows 10/11의
          기본 UI 글꼴인 Segoe UI를 사용한다. WixUI_FeatureTree를 UIRef로
          참조하면 확장 라이브러리의 Tahoma 8pt TextStyle이 고정된다.
        -->
        <UI Id='MaekonUI_FeatureTree'>
            <TextStyle Id='WixUI_Font_Normal' FaceName='Segoe UI' Size='9'/>
            <TextStyle Id='WixUI_Font_Bigger' FaceName='Segoe UI' Size='12'/>
            <TextStyle Id='WixUI_Font_Title' FaceName='Segoe UI' Size='10' Bold='yes'/>

            <Property Id='DefaultUIFont' Value='WixUI_Font_Normal'/>
            <Property Id='WixUI_Mode' Value='FeatureTree'/>
            <DialogRef Id='ErrorDlg'/>
            <DialogRef Id='FatalError'/>
            <DialogRef Id='FilesInUse'/>
            <DialogRef Id='MsiRMFilesInUse'/>
            <DialogRef Id='PrepareDlg'/>
            <DialogRef Id='ProgressDlg'/>
            <DialogRef Id='ResumeDlg'/>
            <DialogRef Id='UserExit'/>

            <Publish Dialog='ExitDialog' Control='Finish' Event='EndDialog' Value='Return' Order='999'>1</Publish>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='LicenseAgreementDlg'>NOT Installed</Publish>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='VerifyReadyDlg'>Installed AND PATCH</Publish>
            <Publish Dialog='LicenseAgreementDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg'>1</Publish>
            <Publish Dialog='LicenseAgreementDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg'>LicenseAccepted = "1"</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='MaintenanceTypeDlg' Order='1'>Installed</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='LicenseAgreementDlg' Order='2'>NOT Installed</Publish>
            <Publish Dialog='CustomizeDlg' Control='Next' Event='NewDialog' Value='VerifyReadyDlg'>1</Publish>
            <Publish Dialog='VerifyReadyDlg' Control='Back' Event='NewDialog' Value='CustomizeDlg' Order='1'>NOT Installed OR WixUI_InstallMode = "Change"</Publish>
            <Publish Dialog='VerifyReadyDlg' Control='Back' Event='NewDialog' Value='MaintenanceTypeDlg' Order='2'>Installed AND NOT PATCH</Publish>
            <Publish Dialog='VerifyReadyDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='3'>Installed AND PATCH</Publish>
            <Publish Dialog='MaintenanceWelcomeDlg' Control='Next' Event='NewDialog' Value='MaintenanceTypeDlg'>1</Publish>
            <Publish Dialog='MaintenanceTypeDlg' Control='ChangeButton' Event='NewDialog' Value='CustomizeDlg'>1</Publish>
            <Publish Dialog='MaintenanceTypeDlg' Control='RepairButton' Event='NewDialog' Value='VerifyReadyDlg'>1</Publish>
            <Publish Dialog='MaintenanceTypeDlg' Control='RemoveButton' Event='NewDialog' Value='VerifyReadyDlg'>1</Publish>
            <Publish Dialog='MaintenanceTypeDlg' Control='Back' Event='NewDialog' Value='MaintenanceWelcomeDlg'>1</Publish>
            <UIRef Id='WixUI_Common'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\license.rtf'/>
        <WixVariable Id='WixUIBannerBmp' Value='wix\banner.bmp'/>
        <WixVariable Id='WixUIDialogBmp' Value='wix\dialog.bmp'/>
    </Product>
</Wix>
